/*body{
	background: url('../images/purple_earrings.jpg');
	background-size: cover;
	background-repeat: none;
}*/

* { padding:0; 
	margin:0; }
	
h1{font-family:"zapfino";
font-weight:bold;
 color:gold;
background-color:black; padding-top:10px;
text-decoration:underline;}

body{text-align:center;
	font-family:"Helvetica","Sans-serif";
	color:gold;
background-color:rgba(162,0,255,0.5); /*purple;*/}

hr{width:400px; margin-left: 500px; 
}

ul{font-size:20px; padding-top:10px; padding-bottom:10px;}

#slogan{font-style:italic;font-weight:bold;padding-bottom:15px;padding-top:10px; }


p{padding-top:10px; padding-bottom:10px;}

footer{padding-top:15px;}

a{ color:inherit;
 }